<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		
		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}
		
		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>

<body>
	<table>
			<tr>
				<th>ID</th>
				<th>Link</th>
				<th>Category</th>
			</tr>
	</table>

	<table>
			{%for data in profiles%}
				<tr>
					<td>{{data.id}}</td>
					<td>{{data.link}}</td>
					<td>{{data.category}}</td>
				</tr>
			{%endfor%}
	</table>
</body>
</html>